.centrado {
    text-align: center;
  }
  .izquierda {
    text-align: center;
  }
  .derecha {
    text-align: center;
  }

  .fin-pagina {
    text-align: center;
  }
  .contenedor {
    
    margin-top: 3%;
    margin-left: 30%;
    width: 40%;
    text-align: left;
      
  }

  .contenedor-e {
    
    margin-top: 10%;

    width: 100%;
    text-align: left;
    margin-bottom: 10%;
    background-color: rgb(234, 235, 236);
      
  }
  